<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.binaervarianz.holopod"
    android:versionCode="0"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".PodcastListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="PodcastAddActivity"
            android:label="@string/title_add" >
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="@string/menu_settings" >
        </activity>
        <activity
            android:name="PodcastDetailsActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="EpisodeDetailsActivity" >
        </activity>

        <service android:name="ReceiverService" >
        </service>
    </application>

</manifest>